<!DOCTYPE html>
<html>
    <body>
        {% extends "layout.html" %}
        {% block content %}
        <div class="about">
        <h1>About me</h1>
            <p>This is a portfolio site For Chemists (or Chemistry-Related Fields):
                1. Research Projects:
                o Summaries of experimental work, including objectives, methods, and outcomes.
                o Include any papers, posters, or conference presentations.
                2. Lab Skills:
                o Highlight expertise with instruments (e.g., NMR, HPLC, GC-MS).
                o Include Standard Operating Procedures (SOPs) you&#39;ve developed or improved.
                3. Analytical Work:
                o Case studies showcasing problem-solving in real-world chemical challenges.
                4. Visualization and Reports:
                o Use software like ChemDraw or MATLAB to showcase visualized results or
                simulations.5. Cross-Disciplinary Work:
                o Include projects that involve computational chemistry, machine learning, or data
                analysis.
            </p>
        </div>
        {% endblock %}
    </body>
</html>